.banner__Container {
    position: relative;
}

.banner__img {
    background: url("../img/banner1.jpeg") no-repeat center / cover;
    width: 100%;
}

.banner__titulo {
    color: var(--branco);
    font-family: var(--Pacifico);
    font-size: 5.0625rem;
    position: absolute;
    text-shadow: 0 4px 4px rgb(0, 0, 0, 0.75);
    top: 40%;
    text-align: center;
    transform: translate(-50, -50);
    width: 100%;
}

.banner__sobre {
    text-align: center;
}

.banner__sobre-titulo {
    color: var(--vermelho-forte);
    font-family: var(--Pacifico);
}

.banner__sobre-descricao {
    color: var(--cinza-claro);
    font-weight: 100;
}

/*Responsividade*/

@media screen and (min-width: 0) {
    .banner__img {
        height: calc(100vh - 51px);
    }

    .banner__titulo {
        font-size: 3.5005rem;
    }

    .banner__sobre {
        padding: 2rem 1rem;
    }

    .banner__sobre-titulo {
        font-size: 2rem;
    }

    .banner__sobre-descricao {
        font-size: 1.3rem;

    }

}

@media screen and (min-width: 768px) {
    .banner__img {
        height: calc(100vh - 72px);
    }

    .banner__titulo {
        font-size: 5.0625rem;
    }

    .banner__sobre {
        padding: 2.5rem;
    }

    .banner__sobre-titulo {
        font-size: 3.1875rem;
    }

    .banner__sobre-descricao {
        font-size: 1.75rem;
    }
}